@font-face {
    font-family: 'roman';
    src: url(../src/roman-font.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#content {
    font-family: Garamond;
}

.sticky-nav {
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

.main-name {
    font-family: roman;
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 8px 16px;
}

.menu {
    > img {
        width: 50px;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(148deg) brightness(105%) contrast(104%);
    }
    width: fit-content;
}

button {
    all: initial;
    cursor: pointer;
}

.container {
    position: relative;
    top: 0;
    width: 100%;
    height: 100svh;
    overflow-x: hidden;
}

.arrow-down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);

}

.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .center-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    padding: 8px 16px;
    text-align: center;
}

.unbolded {
    font-weight: lighter;
}

hr {
    color: white;
    background-color: white;
}
.credit {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    color: grey;
    opacity: 0.75;
}

a {
    text-decoration: none;
}



a:-webkit-any-link, a:any-link {
    font-family: inherit;
    color: white;
}