@font-face {
    font-family: 'roman';
    src: url(../src/roman-font.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#content {
    font-family: Garamond;
}

.sticky-nav {
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

.main-name {
    font-family: roman;
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 8px 16px;
}

.menu {
    > img {
        width: 50px;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(148deg) brightness(105%) contrast(104%);
    }
    width: fit-content;
}

button {
    all: initial;
    cursor: pointer;
}

.container {
    position: relative;
    top: 0;
    width: 100%;
    height: 100svh;
    overflow-x: hidden;
}

.arrow-down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);

}

.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .center-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    padding: 8px 16px;
    text-align: center;
}

.unbolded {
    font-weight: lighter;
}

hr {
    color: white;
    background-color: white;
}
.credit {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    color: grey;
    opacity: 0.75;
    font-family: Montserrat;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
}



a:-webkit-any-link, a:any-link {
    font-family: inherit;
    color: white;
}

.sidebar {
    position: fixed;
    transform: scale(0);
    opacity: 0;
    transition: 0.1s;
    transition: opacity 0.3s;
    height: 100%;
    width: 300px;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top-row {
        display: flex;
        justify-content: end;
        padding: 0px 1rem;
    }
    .close-button {
        font-size: 4rem;
        cursor: pointer;
    }
    
}

.active-sidebar {
    transform: scale(1);
    opacity: 1;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: -150px;
}
.sidebar-content-item {
    font-family: inherit;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.bottom-row-address {
    padding: 8px;
    font-size: 1.2rem;
}

::selection {
    background-color: rgba(143, 143, 143, 0.8);
}

/* .scrolled-box-one {
}

.scrolled-box-img-wrapper {
}

.scrolled-box-text {
} */